.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.layout-clouds {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 0.5;
}

.layout-content {
  position: relative;
  z-index: 10;
  flex: 1;
  padding-top: 80px;
  padding-bottom: 80px;
}
